[Desktop Entry]
Name=Baby Story
GenericName=Baby Story
Name[zh_CN]=宝宝故事
GenericName[zh_CN]=宝宝故事
Comment=Play music and stories for babies
Exec=babystory-bin
Icon=babystory
Terminal=false
Type=Application
Categories=Education;
